<%- include("../partials/html-head") %> 
<%- include("../partials/nav") %> 
<link rel="stylesheet" href="/stylesheets/buyers.css">

<h1 class="page-title">I'M CRAVIN'</h1>
<section class="cards">
    <% dishes.forEach(dish => { %>
        <div class="buyer-card">
            <a href="/dishes/<%=dish._id%>" class="dish-link">
                <div class="b-card-header"><b><%=dish.name%></b></div>
            </a>    
            <div class="b-card-content">
                <% if (dish.description){ %>
                    <p>
                        <b>Description:</b>
                        <%=dish.description %>
                    </p>
                <% } %>

                <% if (!dish.owner.equals(user?.profile._id)) { %>
                    <form action="/dishes/<%=dish._id%>/interest" method="POST">
                        <% if (dish.isBuy){ %>
                            <button type="submit" class="b-card-button">I Can Cook This!</button>
                        <% } else { %>
                            <button type="submit" class="b-card-button">Let Me Eat This!</button>
                        <% } %>
                    </form>
                <% } %>

            </div>
        </div>
    <% }) %> 
</section>

<%- include("../partials/footer") %> 