<%- include("../partials/html-head") %> 
<%- include("../partials/nav") %> 
<link rel="stylesheet" href="/stylesheets/cards.css">

<h1>I'M CRAVIN'</h1>
<section class="cards">
    <% dishes.forEach(dish => { %>
        <div class="buyer-card">
            <div class="b-card-header"><b><%=dish.name%></b></div>
            <div class="b-card-content">
                <% if (dish.description){ %>
                    <p>
                        <b>Description:</b>
                        <%=dish.description %>
                    </p>
                <% } %>
                <button type="submit" class="b-card-button">I Can Cook This!</button>
            </div>
        </div>
    <% }) %> 

    <div class="buyer-card">
        <div class="b-card-header"><b>Dish Name</b></div>
        <div class="b-card-content">
            <p><b>Description:</b>BLAH BLAH BLAH Lorem ipsum d adipisci, quaerat quos architecto et nobis?</p>
            <button type="submit" class="b-card-button">I Can Cook This!</button>
        </div>
    </div>

    <div class="buyer-card">
        <div class="b-card-header"><b>Dish Name</b></div>
        <div class="b-card-content">
            <p><b>Description:</b>BLAH BLAH BLAH</p>
            <button type="submit" class="b-card-button">I Can Cook This!</button>
        </div>
    </div>
</section>

<%- include("../partials/footer") %> 