<%- include("../partials/html-head") %> 
<%- include("../partials/nav") %> 
<link rel="stylesheet" href="/stylesheets/cards.css">

<h1>I'M CRAVIN'</h1>
<section class="cards">
    <% dishes.forEach(dish => { %>
        <div class="buyer-card">
            <a href="/dishes/<%=dish._id%>" class="dish-link">
                <div class="b-card-header"><b><%=dish.name%></b></div>
            </a>    
            <div class="b-card-content">
                <% if (dish.description){ %>
                    <p>
                        <b>Description:</b>
                        <%=dish.description %>
                    </p>
                <% } %>
                <button type="submit" class="b-card-button">I Can Cook This!</button>
            </div>
        </div>
    <% }) %> 
</section>

<%- include("../partials/footer") %> 