<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>DISH DETAILS</h1>

<div>
    <p><%= dish.owner.avatar%></p>
    <img src="<%= dish.owner.avatar%>"" alt="<%= dish.owner.name %> avatar">
    <span id="dropdown-username"><b><%=dish.owner.name%></b><%= dish.isBuy ? "is CRAVING": "is COOKING" %></span>
</div>

