<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/details.css">

<h1><%=dish.name%></h1>

<div>
    <img id="user-img" src="<%= dish.owner.avatar%>" alt="<%= dish.owner.name %> avatar">
    <span id="dropdown-username"><b><%=dish.owner.name%></b><%= dish.isBuy ? " is CRAVING": " is COOKING" %></span>
</div>

<section>
    <% if (dish.description){ %>
        <div>
            <h3 id="dish-description"><b>Dish Description:</b></h3><br>
            <p><%=dish.description%></p>
        </div>
    <% } %>
    <% if (dish.minPrice && dish.maxPrice){ %>
        <div>
            <h3 id="dish-description"><b>Price Range:</b></h3><br>
            <p>$<%=dish.minPrice%> - $<%=dish.maxPrice%></p>
        </div>
    <% } %>
    <% if (dish.whoWants.length > 0){ %>
        <% dish.whoWants.forEach(dish => { %>
            <a href="/profile/<%=dish.owner._id%>">
                <img id="user-img" src="<%= dish.owner.avatar%>" alt="<%= dish.owner.name %> avatar">
            </a>    
        <% }) %>
    <% } %>
    <% if (dish.owner.equals(user?.profile._id)) { %>
        <a href="/dishes/<%=dish._id%>/edit">Edit This Dish!</a>

        <form action="/dishes/<%=dish._id%>?_method=DELETE" method="POST">
            <button type="submit">
                DELETE THIS DISH
            </button>
        </form>
    <% } %>


    <% if (dish.comments.length > 0){ %>
        <h3>Comments:</h3>
        <% dish.comments.forEach(comment => { %>
            <div>
                <div>
                    <a href="/profile/<%=dish.owner._id%>">
                        <img id="user-img" src="<%= comment.author.avatar%>" alt="<%= comment.author.name %> avatar">
                    </a>    
                    <span id="dropdown-username"><b>Posted by: </b><%=comment.author.name%></span>
                    <span><b>on </b><%=comment.createdAt%></span>
                </div>
                <% if (comment.rating){ %>
                    <p><b>Rating: </b><%=comment.rating%></p>
                <% } %>
                <p><b>Comment: </b><%=comment.content%></p>
            </div>
        <% }) %>
    <% } %>
</section><br>
<% if (!dish.owner.equals(user?.profile._id)) { %>
<!-- don't allow dish owner to add comments to own dish? -->
    <% if (dish.isBuy){ %>
        <button type="submit" class="b-card-button">I Can Cook This!</button>
    <% } else { %>
        <button type="submit" class="b-card-button">Let Me Eat This!</button>
    <% } %>

    <section>
        <h3>Add a Comment</h3>
        <form 
            id="add-comment-form"
            action="/dishes/<%= dish._id %>/comments"
            method="POST"
        >
            <label for="rating-select">Rating:</label>
            <select name="rating" id="rating-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5" selected>5</option>
            </select><br>
            <label for="review-text">Comment:</label>
            <textarea name="content" id="review-text"></textarea><br>
            <button type="submit">Add Comment</button>
        </form>
    </section>
<% } %>



